@model Battleship.Models.GameViewModel

@{
    ViewData["Title"] = "CreateGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateGame</h1>

<h4>GameViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<ul>
            @foreach(Player player in Model.AllPlayers)
            {
                <li>@player.Name</li>
            }
        </ul>*@
        <form asp-action="CreateGame">
            <input hidden asp-for="Player1Id" />
            @*<input hidden asp-for="Player1Board" />
            <input hidden asp-for="Player2Board" />
            <input hidden asp-for="Player1Fleet" />
            <input hidden asp-for="Player2Fleet" />*@
            <input hidden asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Player2Id" class="control-label"></label>
                <Select asp-for="Player2Id" asp-items='Model.AllPlayers' class="form-control"></Select>
                <span asp-validation-for="Player2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}