@model Battleship.Models.PlaceShipsViewModel

@{
    ViewData["Title"] = "PlaceShips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PlaceShips</h1>

<h4>PlaceShipsViewModel</h4>
<hr />
<div class="row">
    <div class="col-lg-8">
        <form asp-action="PlaceShips">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PlayerNumber" />
            <table>
                @for (int i = 0; i < Model.Board.board.Length; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.Board.board[i].Length; j++)
                        {
                            <td onmouseover="hover(@i, @j)" id="square-@i-@j" class="board-square droptarget"></td>
                        }
                    </tr>
                }
            </table>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-lg-4">
        @foreach(Ship ship in Model.Ships)
        {
            <button id="@ship.Name" draggable="true" ondragstart="dragStart(event)" display="inline" onclick="selectShip(@ship.Size)">@ship.Name - @ship.Size</button>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var shipLength;
    var vertical = true;
    function selectShip(length) {
        shipLength = length;
    }
    function hover(y, x) {
        let squares = document.getElementsByClassName("board-square");
        resetColorOfSquares(squares);
        for (let i = 0; i < shipLength; i++) {
            let id = getSquareId(y, x);
            console.log(id);
            let element = document.getElementById(id);
            element.style.backgroundColor = "grey";
            if (vertical) {
                y++;
            }
            else {
                x++;
            }
        }
    }
    function dragStart(evt) {
        hideShip(evt.target.attributes.id);
        console.log(evt.target.attributes.id);
        console.log(evt);
    }
    function hideShip(id) {
        let ship = document.getElementById(id);
        ship.style.display = "none";
    }
    function getSquareId(y, x) {
        return "square-" + y + "-" + x;
    }
    function resetColorOfSquares(squares) {
        let squaresArray = [...squares];
        squaresArray.forEach(square => square.style.backgroundColor = "white");
    }
</script>
