@model Battleship.Models.PlaceShipsViewModel

@{
    ViewData["Title"] = "PlaceShips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PlaceShips</h1>

<h4>PlaceShipsViewModel</h4>
<hr />
<div class="game-board">
    @foreach(string[] row in Model.Board.board)
    {
        <h1>row.Length</h1>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

